/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#map {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed !important;
}

.container {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    margin: 32px;
    padding: 16px;
    background: white;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
    z-index: 999
}

.nav-option {
    margin-bottom: 16px;
    display: flex;
}

.nav-option-img {
    margin-right: 8px;
}

.nav-option-input {
    /* background: rgba(51,51,51,0.9); */
    background: #F0F3F7;
    color: #252525;
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    padding-left: 5px;
    width: 100%;
}

.nav-option-input::placeholder {
    color: #8596A6;
}

.create-btn {
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    background: #10A2EA;
    color: white;
    font-weight: 500;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
}

.create-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.Toastify {
    position: fixed;
    top: 32px;
    color: white;
    right: 32px;
    background: rgba(51, 51, 51, 0.9);
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 8px 0 rgba(0, 0, 0, 0.10);
}

.Toastify__close-button {
    background: white;
    position: absolute;
    top: 0;
    border: none;
    left: 0px;
    transform: translateX(-100%);
    background: black;
    color: white;
}